/* Custom Bullet Points */
.publication {
    list-style: none;
}

.publication::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('../icons/site-icons_Publication.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin-right: 0.5em;
}

.academic {
    list-style: none;
}

.academic::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('../icons/site-icons_Teaching.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.location {
    list-style: none;
}

.location::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('../icons/site-icons_Location.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.university {
    list-style: none;
}

.university::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('../icons/site-icons_University.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.address {
    list-style: none;
}

.address::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('../icons/site-icons_Location.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.email {
    list-style: none;
}

.email::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('../icons/site-icons_Email.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}

.social {
    list-style: none;
}

.social::before {
    content: '';
    display: inline-block;

    height: 1.25em;
    width: 1.25em;

    background-image: url('../icons/site-icons_Social.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5em;
}
