/* Smartphone */
@import url(mobile.css) (max-width: 800px);

/* Monitor */
@import url(monitor.css) (min-width: 801px);

/* Custom Bullet Points */
@import url(bullet-points.css);

/* IMPORTED GOOGLE FONTS */
.roboto-website {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Global Variables */
:root {
    --text-color: #000000;
}

header {
    background-color: #B0D1D1;
    color: white;
    padding: 10px;
}

/* Body & Other Settings*/
body, html {
    font-family: "Roboto";
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    color: var(--text-color);
    display: flex;
    flex-flow: column;
}

ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
}

ol {
    list-style-position: inside;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;;
}

a:hover {
    text-decoration: underline;
}

.main-content a {
    color: blue;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Across media */

#about_me h2 {
    margin-top: 0;
}

#major_updates a {
    text-decoration: underline;
}

#research_products a {
    text-decoration: underline;
}

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    background-color: #B0D1D1;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
}

#copyrights {
    padding: 0 2vw 0 2vw;
    width: 100%;
}

